{% extends 'leaveapp/layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">เพิ่มคำขออนุมัติลา</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->    
    <div class="row">
        <div class="col-xl-12">
            <form action="" method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}      
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-danger">Cancel</button>
            </form>
        </div>
    </div>
    <!-- End Content Row -->
</div>
<!-- End Page Content -->
{% endblock %}