{% extends 'leaveapp/layout.html' %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">โปรไฟล์</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->  
    <div class="row">
        <div class="col-xl-12">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">ชื่อ</label>
                        {{ form.firstname }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">นามสกุล</label>
                        {{ form.lastname }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="">อีเมล์</label>
                    {{ form.email }}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">รหัสผ่าน</label>
                        {{ form.password }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">ยืนยันรหัสผ่าน</label>
                        {{ form.repassword }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="">เพศ</label>
                    {{ form.gender }}
                </div>
                <div class="form-group">
                    <label for="">เบอร์โทร</label>
                    {{ form.mobile }}
                </div>
            </form>
        </div>
    </div>
    <!-- End Content Row -->
</div>
<!-- End Page Content -->
{% endblock %}